<header>
  <nav>
    <%= link_to image_tag("logo.png"), root_path %>
    <ul class="left">
      <li><%= link_to "Upcoming Events", events_path %></li>
      <li><%= link_to "Past Events", filtered_events_path(:past) %></li>
      <li><%= link_to "Free Events", filtered_events_path(:past) %></li>
      <li><%= link_to "Recent Events", filtered_events_path(:recent) %></li>
      <% if current_user_admin? %>
        <li><%= link_to "Add New Event", new_event_path, class: "button" %></li>
      <% end %>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li><%= link_to current_user.name, current_user %></li>
        <li><%= link_to "Sign Out", session_path, method: :delete, class: "button" %></li>
      <% else %>
        <li><%= link_to "Sign Up!", signup_path, class: "button" %></li>
        <li> <%= link_to "Sign in",  new_session_path, class: "button" %></li>
      <% end %>
    </ul>

  </nav>
</header>